*{
    margin: 0;
    font-family: helvetica;
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

div#privacy {
    position: fixed;
    bottom: 20%;
    left: -270px;
    background: #444;
    color: white;
    padding: 32px;
    transition: .5s;
    z-index: 1;
}

div#privacy>a {
    margin-left: 32px;
}


div#privacy:hover {
    left: 0;
}

div#brand img {
    width: 110px;
}

nav>ul>li:hover a{
    color: #ff3030;
}

ul{
    display: flex;
    align-items: center;
}

.tm-ml-auto{
    margin-left: auto;
    margin-right: 16px;
    cursor: pointer;
}

.tm-menu{
    margin-left: 16px;
    visibility: visible;
}

/* overlay */


.tm-menu-icon{
    font-size: 1.5rem;
    margin-left: 20px;
}

.search-overlay{
    height: 100%;
      position:fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: #000;
      opacity: 0;
      visibility: hidden ;
}

.search-overlay.active{
    opacity: 1;
    visibility: visible;
    z-index: 2;
}

.search-popup{
    position: absolute;
    top: 20vh;
    left: 50%;
    transform: translate(-50% ,-50%);
    opacity: 0;
    visibility: hidden ;
}

.search-popup.active{
    opacity: 1;
    visibility: visible;
    z-index: 2;
}

.search-popup .tm-form-group .submit-btn{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    
}

.tm-search-input{
    border: 2px solid #fff;
    color: #fff;
    background-color: #000;
    width: 60vw;
    padding: 0 60px 0 20px;
    border-radius: 50px;
    height:60px;
    box-sizing:border-box;
    
    
}

.tm-search-button{
    padding-right: 20px;
    background-color: transparent;
}

.tm-search-button:hover > i {
    color: #ff3030;
}

.close{
    position: fixed;
    right: 0;
    bottom: 10vh;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

header>div i:hover {
    color: #ff3030;

}


.close :hover{
    color: #ff3030;

}


/* slideshow */
section.slideshow {
    height: 50vh;
    background: url(./backs/slideshow.webp);
    background-size: cover;
    display: flex;
    align-items: center;
    background-position-x: center;

}

/* products */
section.products h3 {
    border-bottom: 1px solid;
    width: 40%;
    text-align: center;
    margin: 1.5rem auto;
}


.shoe {
    transition: .5s;

}

.shoe:hover {
    box-shadow: 6px 5px 16px 0px grey;
}

div.cta {
    text-align: center;
    margin: 2rem 0;
}


section.slideshow#women {
    background: url(./backs/woman-slide.webp);
    background-size: cover;
    background-position-x: center;
}

/* badge item */

div#badge {
    position: absolute;
    top: 100px;
    right: 0;
    padding: 4px 48px;
    transform: rotate(45deg);
    top: 10px;
    right: -41px;
    background: red;
    color: white;
}

div#selected {
    position: relative;
    overflow: hidden;

}
